APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:7tOhfD1+0mIXGlNAoTa6r/SmZoFozsLIRHOISXJSxAs=
APP_DEBUG=true
APP_URL=http://shop.surest.com/

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=m_shop
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120

QUEUE_DRIVER=redis


W_KEY=1230194520
W_SECRET=29f7f9f28bc50d11eef5996683da4833

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

REDIS_OPEN = false


MAIL_DRIVER=smtp
MAIL_HOST=smtp.qq.com
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

QCLOUD_APP_ID=
QCLOUD_APP_KEY=
QCLOUD_SIGN_NAME=
QCLOUD_TID=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


QQ_KEY=101515201
QQ_SECRET=bb2e89fad117529f296d2814ac93f007
QQ_REDIRECT_URL=http://shop.surest.cn/qq/login

WX_KEY=wx767a2b45dcac9c69
WX_SECRET=492f8fc49d9550f01dad449053533ccf